---
title: Toy Robot Simulation
component: ContentPage
---
div.row
  div.col-lg-12
    div
      div.panel.panel-default.panel-primary
        div.panel-heading
          h3.panel-title Playground
        div.panel-body
    div
      div.panel.panel-default.panel-primary
        div.panel-heading
          h3.panel-title Settings
        div.panel-body
